<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academias</title>
    <!-- Compiled and minified CSS -->
    <script src="/static/academias.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style type="text/css">
.blanco{
    color: #ffffff;
}
.texto{
    min-height: 100%;
}
.imagen{
max-height: 10%;
    max-width: 100%;
}

</style>


</head>
<body class="grey darken-3">
   <nav>
    <div class="nav-wrapper teal lighten-1 ">
      <a href="/" class="brand-logo blanco" style="padding-left: 10px"><img src="/static/images/logo.png" width="24%">Munana</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/Academias" class="blanco">Academias</a></li>
          <li><a href="/Curso" class="blanco">Cursos</a></li>
          <li><a href="/Paquete" class="blanco">Paquetes</a></li>
          <li><a href="/Login " class="blanco" onclick="get_current()">Comentarios</a></li>
      </ul>
    </div>
   </nav>
<br>
   <!--{%for i in academias%}
   <div class="row ">
           <div class="card col s12" >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/static/images/{{i.Nombre}}1.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body ">
                            <h5 class="card-title">{{i.Nombre}}</h5>
                            <p class="card-text">{{i.Descripcion}}</p>
                            <p class="card-text">Direccion:{{i.Direccion}}</p>
                            <div class="row">
                                <div class="col s6"><img  src="/static/images/{{i.Nombre}}2.jpg"></div>
                                <div class="col s6"><img  src="/static/images/{{i.Nombre}}3.jpg"></div>
                            </div>
                            <div class="card-action">
                                <a href="/curso/{{i.Nombre}}" onclick="">Conoce las disciplinas</a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           </div>
       </div>
    {%endfor%}-->

    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23e28122&amp;ctz=America%2FLima&amp;src=ZjJvM2d1ajAxcHR0ZnIwbjJlZ2VuYWozbTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23cca700&amp;mode=WEEK&amp;hl=es_419" style="border:solid 1px #777" width="1200" height="600" frameborder="0" scrolling="no"></iframe>
    </div>



</body>
</html>
