<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academias</title>
    <!-- Compiled and minified CSS -->
    <script src="/static/academias.js"></script>
    <script src="/static/cursos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style type="text/css">
.blanco{
    color: #ffffff;
}
.texto{
    min-height: 100%;
}
.imagen{
max-height: 10%;
    max-width: 100%;
}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: Arial;
      }

      /* Style the tab */
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      /* Style the buttons inside the tab */
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }

      /* Style the tab content */
      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
      }

    </style>

</style>


</head>
<body class="grey darken-3">
   <nav>
    <div class="nav-wrapper teal lighten-1 ">
      <a href="/" class="brand-logo blanco" style="padding-left: 10px"><img src="/static/images/logo.png" width="24%">Munana</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/Academias" class="blanco">Academias</a></li>
          <li><a href="/Curso" class="blanco">Cursos</a></li>
          <li><a href="/Paquete" class="blanco">Paquetes</a></li>
          <li><a href="/Login " class="blanco" onclick="get_current()">Comentarios</a></li>
      </ul>
    </div>
   </nav>
   <!--{%for i in academias%}
   <div class="row ">
           <div class="card col s12" >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/static/images/{{i.Nombre}}1.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body ">
                            <h5 class="card-title">{{i.Nombre}}</h5>
                            <p class="card-text">{{i.Descripcion}}</p>
                            <p class="card-text">Direccion:{{i.Direccion}}</p>
                            <div class="row">
                                <div class="col s6"><img  src="/static/images/{{i.Nombre}}2.jpg"></div>
                                <div class="col s6"><img  src="/static/images/{{i.Nombre}}3.jpg"></div>
                            </div>
                            <div class="card-action">
                                <a href="/curso/{{i.Nombre}}" onclick="">Conoce las disciplinas</a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           </div>
       </div>
    {%endfor%}
    
    <iframe src="https://calendar.google.com/calendar/embed?height=550&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLima&amp;src=ZjJvM2d1ajAxcHR0ZnIwbjJlZ2VuYWozbTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23ba0c00&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;mode=WEEK&amp;showCalendars=1&amp;showTz=1&amp;hl=es_419" style="border:solid 1px #777" width="1270" height="550" frameborder="0" scrolling="no"></iframe>
    </div>-->
<div class="tab">
      <button class="tablinks" onclick="openDay(event, '1')" id="defaultOpen">HOY<br><span id="date"></span></button>
      <button class="tablinks" onclick="openDay(event, '2')"><span id="day2"></span><br><span id="date1"></span></button>
      <button class="tablinks" onclick="openDay(event, '3')"><span id="day3"></span><br><span id="date2"></span></button>
      <button class="tablinks" onclick="openDay(event, '4')"><span id="day4"></span><br><span id="date3"></span></button>
      <button class="tablinks" onclick="openDay(event, '5')"><span id="day5"></span><br><span id="date4"></span></button>
      <button class="tablinks" onclick="openDay(event, '6')"><span id="day6"></span><br><span id="date5"></span></button>
      <button class="tablinks" onclick="openDay(event, '7')"><span id="day7"></span><br><span id="date6"></span></button>
    </div>

    <div id="1" class="tabcontent">
      <table class="table table-striped table-dark">
        <tbody id="tabla">
        </tbody>
      </table>
    </div>

    <div id="2" class="tabcontent">
      <h3>Paris</h3>
      <p>Paris is the capital of France.</p>
    </div>

    <div id="3" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>

    <script>
      function openDay(evt, day) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(day).style.display = "block";
        evt.currentTarget.className += " active";
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();

      // Get the date
      var d = new Date();
      var days = ["DOM", "LUN", "MAR", "MIE", "JUE", "VIE", "SAB"];
      var months = ["enero.", "feb.", "mar.", "abr.", "mayo.", "jun.", "jul.", "agosto.", "sept.", "oct.", "nov.", "dic."];
      document.getElementById("day2").innerHTML = days[d.getDay() + 1];
      document.getElementById("day3").innerHTML = days[d.getDay() + 2];
      document.getElementById("day4").innerHTML = days[d.getDay() + 3];
      document.getElementById("day5").innerHTML = days[d.getDay() + 4];
      document.getElementById("day6").innerHTML = days[d.getDay() + 5];
      document.getElementById("day7").innerHTML = days[d.getDay() + 6];
      var date = d.getDate();
      var month = d.getMonth();
      var year = d.getFullYear();
      var str = "date";
      document.getElementById("date").innerHTML = date + " " + months[month];
      document.getElementById("date").style.fontSize = "12px";
      document.getElementById("date1").style.fontSize = "12px";
      document.getElementById("date2").style.fontSize = "12px";
      document.getElementById("date3").style.fontSize = "12px";
      document.getElementById("date4").style.fontSize = "12px";
      document.getElementById("date5").style.fontSize = "12px";
      document.getElementById("date6").style.fontSize = "12px";
      for (var i = 1; i <= 6; i++) {
        date = d.getDate();
        month = d.getMonth();
        if (month == 1) {
          if (year % 4 == 0) {
            if (date + i > 29) {
              date = date + i - 29;
              month = month + 1;
              document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
            } else {
              date = date + i;
              document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
            }
          } else {
            if (date + i > 28) {
              date = date + i - 28;
              month = month + 1;
              document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
            } else {
              date = date + i;
              document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
            }
          }
        } else if (month == 3 || month == 5 || month == 8 || month == 10) {
          if (date + i > 30) {
            date = date + i - 30;
            month = month + 1;
            document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
          } else {
            date = date + i;
            document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
          }
        } else {
          if (date + i > 31) {
            date = date + i - 31;
            month = month + 1;
            document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
          } else {
            date = date + i;
            document.getElementById(str.concat(i.toString())).innerHTML = date + " " + months[month];
          }
        }
      }

    </script>


</body>
</html>
